@model Product_CRUD.Models.Entities.Category

@{
    ViewData["Title"] = Model.CategoryName + " - szczegóły";
}

<div>
    <h4>
        @Html.DisplayFor(model => model.CategoryName)
    </h4>

    <a asp-controller="Products" asp-action="Create">Dodaj nowy produkt</a>    
    
    @if(!Model.Products.Any())
    {
        <p>Brak produktów w tej kategorii</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Produkt
                    </th>
                    <th>
                        Cena
                    </th>
                    <th>
                        Akcja
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var product in Model.Products) 
            {
                <tr>
                    <td>
                        @product.Name
                    </td>
                    <td>
                        @product.Price
                    </td>
                    <td>
                         <button class="btn btn-info btn-sm" onclick="location.href='@Url.Action("Details","Products",new {id = product.Id})'">Szczegóły</button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>
<div>
    <a asp-action="Index">Powrót do listy</a>
</div>