@model IEnumerable<Product_CRUD.Models.Entities.Category>

@{
    ViewData["Title"] = "Lista kategorii";
}

<p>
    <button class="btn btn-secondary" onclick="location.href='@Url.Action("Create","Categories")'">Dodaj nową kategorię</button>
</p>
<h6 class="bg-primary text-white text-center m-2 p-2">Lista kategorii</h6>
<table class="table table-sm table-striped table-bordered" id="contentTable">
    <thead>
        <tr>
            <th class="text-center">
                Nazwa kategorii
            </th>
            <th class="text-center">Akcja</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <button class="btn btn-info btn-sm" onclick="location.href='@Url.Action("Details","Categories",new {id = item.Id})'">Szczegóły</button> |
                <button class="btn btn-danger btn-sm" onclick="location.href='@Url.Action("Delete","Categories",new {id = item.Id})'">Usuń</button>
            </td>
        </tr>
}
    </tbody>
</table>
